@page "/"
@using ImagePeriodicRefresh.Components

<h1>Image Periodic Refresh</h1>

<div class="container-fluid">
<div class="row">
        <div class="col-sm-6">
            <Display id="display-001"/>
        </div>
        <div class="col-sm-6">
            <Display id="display-002"/>
        </div>
    </div>
</div>
